@import "tailwindcss";

html {
  @apply text-neutral-800;

  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

figcaption {
  @apply text-neutral-600 italic;
}

.links a,
.link {
  border-bottom: 1px dotted currentcolor;
  transition: color 0.3s, background-color 0.3s;
}
.links a:hover,
.link:hover {
  @apply border-solid border-amber-500;
}


/*
 * Markdown
 */
.markdown {
  @apply text-lg;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown p,
.markdown pre,
.markdown ol,
.markdown ul,
.markdown iframe,
.markdown hr {
  @apply mb-4 border-neutral-200;
}
.markdown h1 {
  @apply text-5xl font-semibold mt-12;
}
.markdown h2 {
  @apply text-4xl font-semibold mt-10;
}
.markdown h3 {
  @apply text-3xl font-semibold mt-8;
}
.markdown a {
  @apply text-blue-600 hover:underline;
}
.markdown figure > a img {
  --tw-ring-inset: var(--tw-empty, );
  @apply inline-block ring-2 ring-offset-1 ring-transparent rounded transition-shadow;
}
.markdown figure > a:hover img,
.markdown figure > a:focus img {
  @apply ring-sky-500;
}
.markdown :not(pre) > code {
  font-size: 80%;

  @apply bg-neutral-200 text-neutral-700 py-0 px-1 rounded;
}
.markdown kbd {
  @apply text-sm bg-neutral-200 text-neutral-700 py-0 px-1 rounded border-b-2 border-neutral-400;
}
.markdown ol,
.markdown ul {
  @apply text-lg ml-6;
}
.markdown ol {
  @apply list-decimal;
}
.markdown ul {
  @apply list-disc;
}
.markdown .header-anchor {
  @apply absolute -ml-12 pl-4 pr-8 no-underline text-neutral-400 invisible;
}
.markdown .header-anchor:hover {
  @apply text-neutral-500;
}
.markdown *:hover > .header-anchor,
.markdown .header-anchor:hover {
  @apply visible;
}
.markdown iframe {
  @apply my-6;
}
.markdown figure img {
  @apply min-w-[160px] rounded inline-block shadow;
}
.markdown figure figcaption {
  @apply text-sm text-center not-italic;
}
.markdown blockquote {
  @apply font-light mx-12 my-8 relative;
}
.markdown blockquote::before {
  content: "\201C";
  @apply absolute -left-12 -top-4 text-neutral-200 leading-none;
  font-size: 5em;
  z-index: -1;
  font-family: serif;
}
.markdown table {
  @apply border-spacing-4 border-separate -mx-4;
}
.markdown .footnotes {
  @apply mt-16 pt-4 border-t border-neutral-200;
}
.markdown .tag-dark {
  @apply bg-neutral-800 text-neutral-400;
  @apply text-sm py-0 px-1 rounded;
}
.markdown .footnotes,
.markdown .footnotes ol {
  @apply text-sm text-neutral-600;
}

/*
 * Code Blocks
 */
.astro-code {
  counter-reset: line;
  font-size: var(--text-sm);
  @apply rounded pl-0 py-3 pr-3;
}
.astro-code .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 2rem;
  margin-right: 1rem;
  text-align: right;
  user-select: none;
  @apply text-neutral-600;
}
.astro-code ::selection {
  background-color: #504945;
}

/*
 * CV List
 */
.cv-list:before,
.cv-list:after,
.cv-list dt:before {
  content: '';
  position: absolute;
}

.cv-list {
  position: relative;
}
.cv-list:before {
  left: 5px;
  top: 12px;
  bottom: 0;
  @apply border-r-2 border-amber-500;
}
.cv-list:after {
  bottom: 0;
  width: 12px;
  @apply border-t-2 border-amber-500;
}
.cv-list dt,
.cv-list dd {
  position: relative;
  margin-left: 2rem;
}
.cv-list dt:before {
  left: -2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  @apply bg-white border-2 border-amber-500 rounded-full;
}

/*
 * Twitter
 */
.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}
.twitter-tweet-rendered iframe {
  margin-top: 0;
  /* Unfortunately this requires some JS to adjust the height */
  /*transform: scale(0.8);*/
  /*transform-origin: top left;*/
  /*margin-bottom: -25% !important;*/
}

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin-left: 0;
  margin-right: 0;
  padding: 16px;
  max-width: 468px;
}

blockquote.twitter-tweet:before {
  display: none;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

/*
 * Utilities
 */
.max-h-64 {
  max-height: 16rem;
}
@screen md {
  .md\:max-h-64 {
    max-height: 16rem;
  }
}
