@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-gray-800;

  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

a {
  transition: color 0.3s;
}

figcaption {
  @apply text-gray-600 italic;
}

.links a {
  border-bottom: 1px dotted currentcolor;
}
.links a:hover {
  @apply border-solid border-orange-500;
}

.wrapper {
  @apply max-w-5xl px-8 mx-auto;
}

@screen md {
  .wrapper {
    @apply px-16;
  }
}

.markdown {
  @apply text-lg;
}
.markdown .hljs {
  @apply text-base;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown p,
.markdown pre,
.markdown ol,
.markdown ul,
.markdown iframe {
  @apply mb-4;
}
.markdown h1 {
  @apply text-4xl mt-12;
}
.markdown h2 {
  @apply text-3xl mt-10;
}
.markdown h3 {
  @apply text-2xl mt-8;
}
.markdown a {
  @apply text-blue-600 underline;
}
.markdown figure > a:hover,
.markdown figure > a:focus {
  @apply inline-block shadow-outline rounded;
}
.markdown :not(pre) > code {
  font-size: 80%;

  @apply bg-gray-200 text-gray-700 py-0 px-1 rounded;
}
.markdown kbd {
  @apply text-sm bg-gray-200 text-gray-700 py-0 px-1 rounded border-b-2 border-gray-400;
}
.markdown ol,
.markdown ul {
  @apply text-lg ml-6;
}
.markdown ol {
  @apply list-decimal;
}
.markdown ul {
  @apply list-disc;
}
.markdown .hljs {
  @apply rounded px-3;
}
.markdown .header-anchor {
  @apply absolute -ml-12 pl-4 pr-8 no-underline text-gray-400 invisible;
}
.markdown .header-anchor:hover {
  @apply text-gray-500;
}
.markdown *:hover > .header-anchor,
.markdown .header-anchor:hover {
  @apply visible;
}
.markdown iframe {
  @apply my-6;
}
.markdown figure {
  @apply text-center;
}
.markdown blockquote {
  @apply font-light mx-12 my-8 relative;
}
.markdown blockquote::before {
  content: "\201C";
  position: absolute;
  left: -0.3em;
  top: -0.275em;
  font-size: 6em;
  z-index: -1;
  font-family: serif;
  @apply text-gray-200 leading-none;
}

/*
 * CV List
 */
.cv-list:before,
.cv-list:after,
.cv-list dt:before {
  content: '';
  position: absolute;
}

.cv-list {
  position: relative;
}
.cv-list:before {
  left: 5px;
  top: 12px;
  bottom: 0;
  @apply border-r-2 border-orange-500;
}
.cv-list:after {
  bottom: 0;
  width: 12px;
  @apply border-t-2 border-orange-500;
}
.cv-list dt,
.cv-list dd {
  position: relative;
  margin-left: 2rem;
}
.cv-list dt:before {
  left: -2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  @apply bg-white border-2 border-orange-500 rounded-full;
}

/*
 * Utilities
 */
.max-h-64 {
  max-height: 16rem;
}
