@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-gray-800;

  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

a {
  transition: color 0.3s;
}

.wrapper {
  @apply max-w-5xl px-8 mx-auto;
}

@screen md {
  .wrapper {
    @apply px-16;
  }
}
