---
// src/components/Timeline.astro
---

<dl class="cv-list links">
  <dt class="text-gray-600">2022 &mdash; Present</dt>
  <dd class="mb-4">
    <p class="font-semibold">Working on my own Project <a href="https://stagetimer.io/" target="_blank" rel="noopener">stagetimer.io</a></p>
    <p class="text-gray-600">Founder, MEVN Stack</p>
  </dd>

  <dt class="text-gray-600">2021 &mdash; 2022</dt>
  <dd class="mb-4">
    <p class="font-semibold">Product Owner at <a href="https://www.seervision.com/" target="_blank" rel="noopener">Seervision AG</a> for the AIRD project (now discontinued)</p>
    <p class="text-gray-600">Product Owner, MERN Stack</p>
  </dd>

  <dt class="text-gray-600">2020 &mdash; 2021</dt>
  <dd class="mb-4">
    <p class="font-semibold">Frontend Developer and Innovation Carrier at <a href="https://laserhub.com/" target="_blank" rel="noopener">Laserhub</a></p>
    <p class="text-gray-600">Stuttgart based manufacturing-as-a-service startup, MEVN Stack, Figma</p>
  </dd>

  <dt class="text-gray-600">2020</dt>
  <dd class="mb-4">
    <p class="font-semibold">Software Engineering degree from <a href="https://www.hs-esslingen.de/en/" target="_blank" rel="noopener">HS Esslingen</a></p>
    <p class="text-gray-600">B.Eng. Software Engineering</p>
  </dd>
  
  <dt class="text-gray-600">2016</dt>
  <dd class="mb-4">
    <p class="font-semibold">Started company for web hosting and web development</p>
    <p class="text-gray-600">LAMP Stack, Wordpress</p>
  </dd>
  
  <dt class="text-gray-600">2015</dt>
  <dd class="mb-4">
    <p class="font-semibold">Moved to Brazil to study Theology</p>
    <p class="text-gray-600">B.A. Theology, Portuguese</p>
  </dd>
  
  <dt class="text-gray-600">2012</dt>
  <dd class="mb-4">
    <p class="font-semibold">Started developing Wordpress Themes</p>
    <p class="text-gray-600">LAMP Stack, Wordpress, UI/UX</p>
  </dd>
  
  <dt class="text-gray-600">2010</dt>
  <dd class="mb-4">
    <p class="font-semibold">Volunteer Teacher in a native village, Philippines</p>
    <p class="text-gray-600">English, Education, People Skills</p>
  </dd>
  
  <dt class="text-gray-600">2008</dt>
  <dd class="mb-4">
    <p class="font-semibold">
      <a href="/writing/print-and-visual-design/">Started working with Visual & Print Design and 3D Modeling</a>
    </p>
    <p class="text-gray-600">Photoshop, InDesign, Cinema4D</p>
  </dd>
  
  <dt class="text-gray-600">2007</dt>
  <dd class="mb-4">
    <p class="font-semibold">Got my first web development job while still in high school</p>
    <p class="text-gray-600">HTML, CSS</p>
  </dd>
</dl>
