---
import Base from './Base.astro'
import SiteHeader from '../components/SiteHeader.astro'
import SiteFooter from '../components/SiteFooter.astro'
---

<Base {...Astro.props}>
  <div class="max-w-5xl mx-auto px-16">
    <SiteHeader />
  </div>
  <main class="max-w-5xl mx-auto px-16 py-24">
    <slot />
  </main>
  <hr class="border-t border-neutral-200" />
  <div class="max-w-5xl mx-auto px-16 py-6">
    <SiteFooter />
  </div>
</Base>
